body {
    margin: 0;
    padding: 0;
    background-color: grey;
    font-family: 'Arial';
}
.login{
    width: 430px;
    overflow: hidden;
    margin: auto;
    padding: 80px;
    background: darkgray;
    border-radius: 15px ;

}
h2{
    text-align: center;
    color: #277582;
    padding: 20px;
    font-size: 1.5em;
    margin-bottom: 10px;
}

label{
    font-size: 17px;
    display: block;
    margin-bottom: 10px;
    color: black;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass
{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#pseudo{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#mail{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#date{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#tel  {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: white;
    background-color: darkblue;


}
span{
    color: white;
    font-size: 17px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

section {
    flex-basis: 45%;
    margin-bottom: 20px;
}


form {
    background-color: #f2f2f2;
    padding: 10px;
}

input[type="text"], textarea, input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 3px #ccc;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 3px #ccc;
}

a{
    color: #277582;
    text-align: center;
    background-color: grey;
}

header {
    background-color: lightgrey;
    padding: 20px;
    text-align: center;
    height: 90px;
}

.logo{
    float: left;
    padding: 27px 0;
    color: #fff;
}

.navigation-menu{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
}

.navigation-menu a{
    margin-left: 10px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
}

.navigation-menu a:hover{
    background: #273b91;
    color: #fff;
    transform: scale(1.1);
}
.anonces{
    margin: 20px;
    padding: 20px;
    background-color: aliceblue;

}
.annonce {
    border: 5px solid black;
    padding: 10px;
    margin: 20px;
    background-color: lightgrey;
}

.annonce-titre {
    font-size: 1.5em;
    margin-top: 0;
}

.annonce-prix {
    color: red;
    font-weight: bold;
}

.annonce-description {

}
.photo{
    width:15%;
    height:15%;
    object-position: left;
}
.vendeur{
}





.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 15px ;
}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc( -1 * 1rem);
    margin-left: calc( -1 * 1rem);
}
.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.col {
    flex: 0 0 auto;
}

.presentation {
    max-width: 500px;
    background-color: lightgrey;
    border-radius: 15px ;
}

.photo {
    padding-left: 0;
    padding-right: 0;
    line-height: 0;
}

.coordinate{
    padding-top: 0.5em;
    padding-left: 1em;
}

.coordinate dt{
    font-weight: bold;
}

.coordinate h1 span{ /
    display: block;
    font-weight: normal;
}


